#agency {
  h1.title {
    font-size: 100px;
    font-weight: 800;
    margin: 2em 3.6em;
  }

  .content {
    padding: 0 80px;

    .introline {
      font-size: 30px;
      margin: 5em 0 9em;
    }
  }

  .content-section {
    font-size: 23px;
    margin-bottom: 8em;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    &.determination img {
      float: right;
    }

    &.determination .agency-information {
      padding: 4em 2em;
      width: 43%;
    }

    &.determination p {
      margin: 2em 0 4em;
    }
  }

  .content-section img,
  .agency-information {
    float: left;
  }

  .agency-information {
    width: calc(100% - 900px);
    padding: 4em 3em;
  }

  .evaluation-process {
    position: relative;
    height: 900px;

  }

  .evaluation-process img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .ep-text {
    color: #fff;
    z-index: 2000;
    position: absolute;
    top: 150px;
    text-align: center;
    left: 241px;
    width: 78%;
  }

  .ep-text h1 {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 1.35em;
  }

  .ep-text p {
    font-size: 23px;
    margin: auto;
    margin-bottom: 2em;
    width: 75%;
  }

  .agency-information h3 {
    font-size: 80px;
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 1em;
  }
}