#best-works {
  width: 1720px;
  margin: 150px auto;

  h1 {
    font-size: 6em;
  }

  .work {
    margin: 100px 0;

    h3 {
      font-size: 45px;
      font-weight: normal;
      margin-bottom: 12px;
    }
  }
}