#best-works {
  width: 1720px;
  margin: 200px auto;

  h1 {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 2em;
  }

  .work {
    margin: 100px 0;

    h3 {
      font-size: 45px;
      font-weight: normal;
      margin-bottom: 12px;
    }
  }

  li {
    position: relative;
  }

  .w-card {
    position: absolute;
    right: -40px;
    top: 110px;
    background: #fff;
    padding: 20px;
    font-size: 23px;
  }

  .w-card:after {
    background: transparent;
    position: absolute;
    height: 0px;
    width: 0px;
    right: 0;
    top: 100%;
    content: '';
    border-top: 10px solid #acacac;
    border-left: 20px solid #acacac;
    border-bottom: 10px solid transparent;
    border-right: 20px solid transparent;
    overflow: hidden;
  }
}