#lets-work-together {
  padding: 130px 200px;

  h1.title {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 2em;
  }

  form {
    width: 100%;
    margin: 6em 0;
  }

  .ctrl {
    height: 4em;
    margin: 6em 0;
  }

  input[type='text'] {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #b7b7b7;
    font-size: 25px;
    width: 100%;
    padding-bottom: 10px;

    &:focus {
      border-bottom: 1px solid $blue;
    }
  }

  .service-ctrl-title {
    margin: 20px 0;
    font-size: 27px;
    color: #6b6b6b;
  }

  .services {
    width: 80%;
    display: grid;
    margin: 2em 0 3em;
    margin-left: -2.5em;
    grid-row-gap: 30px;
    grid-template-columns: repeat(4, 1fr);

    h4 {
      font-size: 27px;
      font-weight: 500;
      padding: 20px;
      padding-left: 40px;
      cursor: pointer;
    }

    h4.yellow {
      background: $yellow;
    }
  }

  ::placeholder {
    color: #6b6b6b;
    font-size: 25px;
  }
}

@media screen and (max-width: 510px) {

  #lets-work-together {
    padding: 130px 1.5em;

    h1.title {
      font-size: $h1-mobile;
      text-align: center;
    }

    .services {
      width: 100%;
      display: grid;
      margin: 2em 0 0;
      margin-left: 0;
      grid-row-gap: 0;
      grid-template-columns: repeat(2, 1fr);
    }

    .btn {
      margin: auto;
      width: 100%;
    }
  }

}