header {
  height: 120px;

  &.yellow {
    background: $yellow;
  }

  .logo {
    position: relative;
    top: -30px;
    left: 100px;
    height: 200px;
  }

  &>* {
    float: left;
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  nav {
    position: relative;
    top: 48px;
    left: 122px;
  }

  nav ul li {
    display: inline-block;
    margin: 0 30px;
    font-size: 23px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: -40px;
    padding-top: 40px;

    &.active {
      border-top: 3px solid $black;
    }
  }

  nav ul li h6 {
    font-weight: 500;
    font-size: 23px;
  }

  .hire-us {
    float: right;
    position: relative;
    top: 30px;
    right: 50px;
    width: 243px;
    height: 80px;

    &:hover>* {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 490px) {

  header {
    width: 100vw;
  }

}