.intro {
  background: $yellow;
  width: 100vw;
  height: 80vh;
  padding-top: 3em;

  .title {
    width: 1200px;
    margin: auto;
    margin-left: 355px;
  }

  .title h1 {
    font-size: 120px;
    font-weight: 800;
    line-height: 0.85;
  }

  .title p {
    width: 588px;
    font-size: 16px;
    margin-top: 3em;
  }

  .btns {
    margin: 3.5em 0;
  }

  .social-networks {
    margin: 2em 0;
    margin-right: 100px;
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 40px;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 510px) {

  .intro {
    padding: 20px 1.5em;
    height: auto;

    .title {
      width: auto;
    }

    .title h1 {
      font-size: $h1-mobile;
    }

    .title p {
      width: auto;
      font-size: $medium-mobile;
      margin-top: 2em;
    }

    .btns {
      text-align: center;
    }

    .social-networks {
      display: none;
    }
  }

}