#standout {
  width: 100%;
  height: 900px;
  text-align: center;
  color: $white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .text {
    position: absolute;
    color: $white;
    width: 60%;

    h1 {
      font-size: 95px !important; // naslovi
      font-weight: 800;
      margin-bottom: 80px;
      line-height: 1;
    }

    p {
      font-size: 16px;
      margin: auto;
      margin-bottom: 130px;
      width: 70%;
    }
  }
}

@media screen and (max-width: 510px) {

  #standout {
    width: 100%;
    height: 100vw;

    .text {
      width: 80%;
    }

    .text h1 {
      font-size: $h1-mobile;
      margin-bottom: 45px;
    }

    .text p {
      font-size: $p-mobile;
      margin-bottom: 45px;
    }
  }
}